@model workshop4.Models.Book

@{
    ViewBag.Title = "InsertBook";
}

<h2>新增書籍</h2>

<form method="post" action="/Book/InsertBook">
    <div class="form-horizontal">
        <h4></h4>
        <hr />
        <div class="form-group">
           
            <div class="col-md-10">
                <label>書名</label><br>
                @Html.EditorFor(model => model.BookName, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.BookName, "", new {@class = "text-danger"})
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-10">
                <label>作者</label><br>
                <input id="BookAuthor" name="BookAuthor" class = "form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-10">
                <label>出版商</label><br>
                <input id="BookPublisher" name="BookPublisher" class = "form-control"/>

             
            </div>
        </div>


        <div class="form-group">
           
            <div class="col-md-10">
                <label>內容簡介</label><br>
                <input id="BookNote" name="BookNote" class = "form-control"/>
             
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-10">
                <label> 購書日期</label><br>
                <input id="bought_datepicker"  name="BookBoughtDate"  title="datepicker"  class = "form-control"/>
            </div>
        </div>

        <div class="form-group">
           
            <div class="col-md-10">
                <label> 圖書類別</label><br>
                <select id="BookClass" name="BookClassId" class = "form-control"></select>
            </div>
        </div>


        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" class = "form-control"/>
            </div>
        </div>


    </div>
</form>

<div>
    @Html.ActionLink("前往查詢書籍", "SearchBook")
</div>

@if (TempData["message"] != null)
{
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["message"]));
        alert(message);
    </script>
}
<script>
    $("document").ready(function() {

        
        // pick the book date
        $("#bought_datepicker").kendoDatePicker({
            //get today
            value: new Date(),
            format: "yyyy/MM/dd",
            dateInput: true
        });


    })


</script>
<!--
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>-->
