@model workshop4.Models.BookArgs

@{
    ViewBag.Title = "SearchBook";
}

<h2>搜尋書籍</h2>


<form method="post" action="/Book/SearchBook">
    <div class="form-horizontal">

        <div class="form-group">

            <div class="col-md-10">
                <label> 書名</label><br>

                <input id="BookName" name="BookName" />
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                <label> 類別</label><br>
                <select id ="BookClass"  name="BookClassId"></select>
            
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                <label> 狀態</label><br>
                <select id="BookStatus"  name="BookStatus"></select>
               
            </div>
        </div>

        <div class="form-group">

            <div class="col-md-10">
                <label>借閱者 </label>  <br>
                <select  id ="KeeperFullName"  name="BookKeeper"></select>
        
            </div>
        </div>
        <div class="form-group">

            <div class=" col-md-10"><br>
                <input id="btn_search" value="Search" class="btn btn-default" />
                <a href="/Book/InsertBook" class="btn btn-default">前往新增書籍</a>
            </div>
        </div>
    </div>

</form>

<div id="result_grid"></div>



@if (TempData["message"] != null)
{
    <script type="text/javascript">
        var message = @Html.Raw(Json.Encode(TempData["message"]));
        alert(message);
    </script>
}
<script type="text/javascript">



    $(document).ready(function () {
      
        $("#btn_search").click(function () {
            $("#result_grid").kendoGrid({
                dataSource: {
                    transport: {
                        read: {
                            url: "GetSearchResult",
                            type: "post",
                            data: {

                                "BookName": $("#BookName").val(),
                                "BookClassId": $("#BookClass").val(),
                                "BookStatus": $("#BookStatus").val(),
                                "BookKeeper": $("#KeeperFullName").val()
                            },
                            dataType: "json"
                        }
                    }
                },
               
                columns: [
                    { field: "BookClass", title: "圖書類別" },
                    { field: "BookName", title: "書名" },
                    { field: "BookBoughtDate", title: "購書日期" },
                    { field: "BookStatus", title: "借閱狀態"},
                    { field: "UserEName", title: "借閱人" }
                ]
            });
        });

    });


    $(".btnDelete").click(function (e) {
        console.log(123);
        var bookName = $(this).siblings(".bookName").val();
        console.log(bookName);
        if (confirm("是否刪除" + bookName + "?") == true) {

            e.preventDefault();
            var tr = $(this).closest('tr');
            $.ajax({
                type: "POST",
                url: "/Book/DeleteBook",
                data: "bookId=" + $(this).siblings(".bookId").val(),
                dataType: "json",
                success: function (response) {
                    alert("刪除" + bookName + "成功");
                    $(tr).remove();

                }, error: function (error) {
                    alert("此書無法刪除");
                }
            });

        }
        location.reload();
    });
</script>